*.pyc
*.log
*.db
/.metadata/
*.swp
*.swo
*.out
*.so
*.lock
*.gcda
*.gcno
Obj
bld
tst/lib_py
tools/lib_py
rui/lib_py
coverage_results/
html
latex
.xifs/
NMTX/tst/lib_py
NMTX/tst/lib_py*
RSXA/tst/NMTX
RSXA/tst/NMTX*
RSXA/tst/lib_py
RSXA/tst/lib_py*
