
*.pyc
*.log
*.db
/.metadata/
*.swp
*.out
Obj
output
gui/photonetwork_gui/.vs
gui/photonetwork_gui/packages
gui/photonetwork_gui/photonetwork_gui.sln
gui/photonetwork_gui/photonetwork_gui/bin
gui/photonetwork_gui/photonetwork_gui/obj
